TAKO_ETL_PDI_CARTE_ADMIN_USER=cluster
TAKO_ETL_PDI_CARTE_ADMIN_PASS=cluster
TAKO_ETL_PDI_CARTE_HOST_NAME=localhost
TAKO_ETL_PDI_CARTE_HOST_PORT=8080
TAKO_ETL_PDI_CARTE_HOST_PROTOCOL=http
TAKO_ETL_PDI_CARTE_CXF_HOST_PROTOCOL=http
TAKO_ETL_PDI_CARTE_CXF_HOST_PORT=9051
TAKO_API_GATEWAY_PORT=8181

